<ul class="nav navbar-nav navbar-right">
    <li><a <%if(active=="Home"){%>class="active"<%}%> href="/Index">Home</a></li>
    <li><a <%if(active=="About"){%>class="active"<%}%> href="/About">About</a></li>
    <li><a <%if(active=="Work"){%>class="active"<%}%> href="/Work">Work</a></li>
</ul>